{template "content","header"}
 <!-- Slider Home -->
  <!-- Flexslider -->
   {pc:content action="lists" catid="6" order="listorder ASC" num="10"}
      <div id="slider-home" class="row-fluid slider-home">
        <div class="pxgridssl">
          <div class="slider">
            <div id="main-slider" class="flexslider">
              <ul class="slides">
                {loop $data $r}
                <li><a href="{$r['url']}"><img src="{$r['thumb']}" alt="{$r['title']}"></a></li>
                {/loop}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {/pc}
  <!-- End Flexslider -->
 <!-- End Slider home -->
<!-- start content -->
<div id="content_wrapper">
<div id="midcaption">
  <div class="BreakingNewsController easing" id="breakingnews2">
    <div class="bn-title"></div>
    <ul>
    {pc:content  action="lists" catid="7" order="id DESC" num="20" return="info"}
    {loop $info $r}
      <li><a href="{$r['url']}">{$r['title']}</a></li>
    {/loop}
    {/pc}
    </ul>
    <div class="bn-arrows"><span class="bn-arrows-left"></span><span class="bn-arrows-right"></span></div>  
  </div>
</div>
<div class="clearfix"></div>
<div id="lines" class="margin20"></div>
<div class="breadcrumbs">
<ul>
<!-- <li><span>项目/产品介绍</span></li> -->
<li><span><?php echo L('product_introduction')?></span></li>
</ul>
</div>
<div class="clear"></div>
{pc:content  action="lists" catid="8" thumb="1" order="id DESC" num="4" return="info"}
<div class="content" id="width100">
	<div id="main_column">
      <div id="portfolio_box">
       <ul>
       {loop $info $v}
          <li>
		  <div class="image">
          <a href="{$v['url']}" title="{$v['title']}"><img src="{thumb($v[thumb],220,140)}" alt="{$v['title']}"></a>
		  </div>
          <div class="project_info">
            <h2><a href="{$v['url']}" title="{$v['title']}">{str_cut($v['title'],20)}</a></h2>
            <h3>{str_cut($v['description'],30)}</h3>
          </div>
         </li>
         {/loop}
         </ul><!--END ul-->
       </div>
</div>	
</div>
{/pc}

<div class="clear"></div>
<div id="lines" class="margin20"></div>
<div class="indexpost">
<div class="postart">
{pc:content  action="position" posid="18" catid="15" thumb="1" order="id DESC" num="1" return="info"}
<div class="postartimg">
<ul class="grid">
  {loop $info $v}
  <li>
    <a href="{$v['url']}" role="button">
      <figure>
        <img class="img-responsive" src="{thumb($v[thumb],310,115)}" alt="{$v['title']}">
        <figcaption>
          <span>{str_cut($v['title'],70)}</span>
        </figcaption>
      </figure>
    </a>
  </li>
  {/loop}
</ul>
</div>
<div class="postlist">
{pc:content  action="lists" catid="15" order="id DESC" num="5" return="info"}
  <ul>
   {loop $info $v}
    <li><span>·</span><a href="{$v['url']}">{str_cut($v['title'],65)}</a></li>
    {/loop}
  </ul>
{/pc}
</div>
</div>

<div class="postart">
{pc:content  action="position" posid="19" catid="16" thumb="1" order="id DESC" num="1" return="info"}
<div class="postartimg">
<ul class="grid">
  {loop $info $v}
  <li>
    <a href="{$v['url']}" role="button">
      <figure>
        <img class="img-responsive" src="{thumb($v[thumb],310,115)}" alt="{$v['title']}">
        <figcaption>
          <span>{str_cut($v['title'],70)}</span>
        </figcaption>
      </figure>
    </a>
  </li>
  {/loop}
</ul>
</div>
{/pc}

<div class="postlist">
{pc:content  action="lists" catid="16" order="id DESC" num="5" return="info"}
  <ul>
  {loop $info $v}
    <li><span>·</span><a href="{$v['url']}">{str_cut($v['title'],65)}</a></li>
  {/loop}  
  </ul>
{/pc}
</div>
</div>

<div class="postart">
{pc:content  action="position" posid="20" catid="17" thumb="1" order="id DESC" num="1" return="info"}
<div class="postartimg">
<ul class="grid">
  {loop $info $v}
  <li>
    <a href="{$v['url']}" role="button">
      <figure>
        <img class="img-responsive" src="{thumb($v[thumb],310,115)}" alt="{$v['title']}">
        <figcaption>
          <span>{str_cut($v['title'],65)}</span>
        </figcaption>
      </figure>
    </a>
  </li>
  {/loop}
</ul>
</div>
{/pc}
<div class="postlist">
{pc:content  action="lists" catid="17" order="id DESC" num="5" return="info"}
  <ul>
  {loop $info $v}
    <li><span>·</span><a href="{$v['url']}">{str_cut($v['title'],70)}</a></li>
  {/loop}
  </ul>
{/pc}
</div>
</div>
</div>
<div class="clear"></div>
<script type="text/javascript" src="{JS_PATH}pxgrids/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">
$(document).ready(function(){$("a[data-id^='fancybox-linker']").fancybox({"overlayShow":true,"overlayColor":"#000","transitionIn":"elastic","transitionOut":"elastic","height":330,"width":500})});
</script>
<div class="linker">
<div class="breadcrumbs">
<ul>
<li><span><?php echo L('friendship_link')?></span></li>
</ul>
</div>
<div class="applylinker"><a href="{APP_PATH}index.php?m=link&c=index&a=register&siteid={$siteid}" class="iframe" data-id="fancybox-linker"><?php echo L('application_link')?></a></div>
<div class="clear"></div>
<div id="line"></div>
  {pc:link  action="type_list" siteid="$siteid" order="listorder ASC" num="10" return="dat"}
    <ul>
      {loop $dat $v}
      <li><a href="{$v[url]}" title="{$v[name]}" target="_blank">{$v[name]}</a></li>
      {/loop}
    </ul>
  {/pc}
</div>
</div>
{template "content","footer"}