{template "content","header"}
<!-- start mid_caption -->
<div id="mid_caption">
<div class="pages">
<!-- Page Title -->
<div id="page-title"> 
  {pc:get sql="SELECT `catid`,`catname` FROM `phpcms_category` WHERE catid = $catid" return="data"}
  {loop $data $r}
  <h2>{$r[catname]}</h2>
  {/loop}
  {/pc}
<div class="clear"></div>
<div id="bolded-line"></div>
</div>
<!-- Page Title / End -->
<div class="clear"></div>
</div>
</div>
<!-- END mid_caption -->
<!-- start content_wrapper-->
<div id="content_wrapper">
<!-- start sidebar-left -->
<div id="sidebar-left">
<div class="left-sidebar-block">  
<h3 class="dotted_line">栏目导航</h3> 
<div class="tout news_categories">
<ul>
{php $j=1;} 
{php $now_catid = $CATEGORYS[$catid][parentid] == 0 ? $catid : $CATEGORYS[$catid][parentid];}
{loop subcat($now_catid) $v} 
{php if($v['type']!=0) continue;} 
<li{if $catid==$v[catid]} class="prselected"{/if}><a href="{$v[url]}"><span>{$v[catname]}</span><span class="symbol">></span></a></li>
{/loop}
</ul>
</div>
</div>
<div class="sweibo"><iframe width="230" height="85" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=85&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=3774309970&verifier=5dd3f091&colors=d6f3f7,f8f8f8,666666,0082cb,ecfbfd&dpc=1"></iframe></div>
</div>
<!-- END sidebar-left -->
<!-- start content -->
<div class="content" id="prowidth">
<div id="portfolio_box">
{pc:content action="lists" catid="$catid" order="listorder ASC" page="$page" num="6"}
<ul>
{loop $data $r}
<li id="proliw">
  <div class="image">
  <a href="{$r['url']}" title="{$r['title']}"><img src="{thumb($r[thumb], 220, 140)}" alt="{$r['title']}"></a>
  </div>
  <div class="project_info">
  <h2><a href="{$r['url']}" title="{$r['title']}">{str_cut($r['title'],20)}</a></h2>
  <h3>{str_cut($r['description'],28)}</h3>
  </div>
</li>
{/loop}
</ul>
{/pc}</div>
<div class="clear"></div>
<!-- Pagination -->
<div class="pagination"><ul>{$custom_pages}</ul></div>
<!-- End Pagination -->
<div class="clear"></div>
</div>
<!-- END content -->
</div>
<!-- END content_wrapper-->
{template "content","footer"}