{template "content","header"}
<link href="{CSS_PATH}pxgrids/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{JS_PATH}pxgrids/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("a[data-id^='fancybox']").fancybox({
        'overlayShow' : true,
        'overlayColor'    : '#000',
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic'       
}); 
$("a[data-id^='fancybox-video']").fancybox({
        'overlayShow' : true,
        'overlayColor'    : '#000',
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic',
        'height' : 500,
        'width' : 800   
}); 
});
</script>
<script type='text/javascript' src='{JS_PATH}pxgrids/custom-libraries.js?ver=1.0'></script>
<!-- start mid_caption -->
<div id="mid_caption">
<div class="pages">
<!-- Page Title -->
<div id="page-title"> 
  {pc:get sql="SELECT `catid`,`catname` FROM `phpcms_category` WHERE catid = $catid" return="data"}
  {loop $data $r}
  <h2>{$r[catname]}</h2>
  {/loop}
  {/pc}
<div class="clear"></div>
<div id="bolded-line"></div>
</div>
<!-- Page Title / End -->
<div class="clear"></div>
</div>
</div>
<!-- END mid_caption -->
<!-- start content -->
<!-- start content_wrapper-->
<div id="content_wrapper">
<!-- start content -->
<div id="content_fullwidth">
<div id="main_column_left">
<!-- start post -->
{pc:content  action="lists" catid="$catid" order="id DESC" page="$page" num="2"}
{loop $data $r}
<div class="postvideo">
{if $r[thumb]}
<div id="post-featured-video">
<a href="{$r['url']}" class="iframe" data-id="fancybox-video"><img src="{$r[thumb]}" class="video-grid-border" alt="{$r[title]}" title="{$r[title]}"></a>
</div>
{/if}
<h2 class="post_title"><a href="{$r['url']}" title="{$r[title]}">{$r[title]}</a></h2>					
</div>
{/loop}
{/pc}
<!-- end post -->
</div>
<div class="clear"></div>
<!-- Pagination -->
<div class="pagination"><ul>{$custom_pages}</ul></div>
<!-- End Pagination -->
<div class="clear"></div>
</div>
<!-- END content -->
</div>
<!-- END content_wrapper-->
{template "content","footer"}
