{template "content","header"}
<div id="mid_caption"><!-- start mid_caption -->
  <div class="pages">
      <!-- Page Title -->
      <div id="page-title"> 
        {pc:get sql="SELECT `catid`,`catname` FROM `phpcms_category` WHERE catid = $catid" return="data"}
        {loop $data $r}
        <h2>{$r[catname]}</h2>
        {/loop}
        {/pc}
      <div class="clear"></div>
      <div id="bolded-line"></div>
      </div>
      <!-- Page Title / End -->
    <div class="clear"></div>
  </div>
</div><!-- END mid_caption -->
<div id="content_wrapper"><!-- start content_wrapper-->
<!-- start sidebar-left -->
<div id="sidebar-left">
<div class="left-sidebar-block">	
<h3 class="dotted_line">About 关于</h3>	
<div class="tout news_categories">
<ul>
{loop $arrchild_arr $cid}
 <li{if $catid==$cid} class="prselected"{/if}><a href="{$CATEGORYS[$cid][url]}"><span>{$CATEGORYS[$cid][catname]}</span><span class="symbol">></span></a></li>
{/loop}
</ul>
</div>
</div>
<div class="sweibo"><iframe width="230" height="85" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=85&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=3774309970&verifier=5dd3f091&colors=d6f3f7,f8f8f8,666666,0082cb,ecfbfd&dpc=1"></iframe></div>
</div>
<!-- END sidebar-left -->
<!-- start content -->
{if !$content}
{if is_array($my_page=my_get_page_content(2))}
{php $my_title = $my_page[title];}
{php $my_content = $my_page[content];}
{else}
{php $my_content = $my_page;}
{/if}
{/if}
<div class="content" id="prowidth">
<div id="main_column_left">
<h3 class="dotted_line">{if isset($my_title)}{$my_title}{else}{$title}{/if}</h3>
{if $content}
{$content}
{else}
{$my_content}
{/if}
</div>
</div>
</div>
<div class="bk10"></div>
{template "content","footer"}